{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ajouter un titre ici{% endblock %}</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

{% block navigation %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="{% url "home" %}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{% url "add_album" %}" class="nav-link">Ajouter un album</a></li>
    </ul>
    <form class="form-inline my-2 my-md-0" action="{% url "home" %}" method="post">
        {% csrf_token %}
        <input class="form-control" type="text" placeholder="Search" name="Rechercher">
    </form>
</nav>
{% endblock %}

<div class="bg-light">
{% block section %}
{% endblock %}
</div>
</body>
</html>